In [1]:
# Versão da Linguagem Python
from platform import python_version

print('Versão do Python utilizada: ', python_version())

Versão do Python utilizada:  3.9.13

# Análise Exploratória

In [2]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

df_clientes = pd.read_csv('dados/dados_clientes.csv')

print(df_clientes)
df_clientes.describe()

      id  idade  renda_anual  pontuacao_gastos
0      1     56        94740                90
1      2     69       136352                50
2      3     46        86617                62
3      4     32       114841                97
4      5     60        36896                51
..   ...    ...          ...               ...
495  496     43       127825                96
496  497     70        75393                86
497  498     40        93553                54
498  499     26        26941                91
499  500     29        45934                31

[500 rows x 4 columns]

               id       idade    renda_anual  pontuacao_gastos
count  500.000000  500.000000     500.000000        500.000000
mean   250.500000   44.732000   81557.166000         48.512000
std    144.481833   15.239707   36764.379945         29.556946
min      1.000000   18.000000   20384.000000          0.000000
25%    125.750000   32.000000   49172.750000         24.000000
50%    250.500000   45.000000   79219.000000         48.500000
75%    375.250000   57.000000  113017.250000         73.250000
max    500.000000   70.000000  149695.000000        100.000000

In [3]:
df_padronizado = df_clientes[['idade', 'renda_anual', 'pontuacao_gastos']]

### Pré-Processamento de Dados

In [4]:
#padronizar dados

padronizador = StandardScaler()

In [5]:
#Aplica o padronizador nas colunas a serem estudadas

dados_padronizados = padronizador.fit_transform(df_padronizado)

print(dados_padronizados)

[[ 0.74012478  0.35893538  1.40506904]
 [ 1.59401387  1.49192537  0.05039391]
 [ 0.08328703  0.13776654  0.45679645]
 ...
 [-0.31081563  0.32661636  0.18586143]
 [-1.23038848 -1.48706069  1.43893592]
 [-1.03333716 -0.96992912 -0.59307677]]

In [6]:
#definir o número de clusters' na quantidade de grupos:
k = 3

# criar o modelo K-means
kmeans = KMeans(n_clusters=k)

#treinando o modelo com os dados padronizados:
kmeans.fit(dados_padronizados)

#atribuir o rótulo do cluster criado ao df
df_clientes['cluster'] = kmeans.labels_

#print atualizado
df_clientes.sample(15)

      id  idade  renda_anual  pontuacao_gastos  cluster
275  276     49       114246                39        2
323  324     55        33843                73        0
467  468     50        52049                48        0
226  227     19       123150               100        1
102  103     46       102986                 6        2
362  363     68       123268                89        2
32    33     66       113468                79        2
189  190     61       102637                44        2
281  282     56        29435                37        0
243  244     70        39065                74        0
268  269     37       137611                25        2
471  472     61        93963                15        2
122  123     59        96797                12        2
423  424     57        67926                90        0
79    80     61       114704                60        2

In [7]:
#Salvando o arquivo
df_clientes.to_csv('dados/clientes_clusterizados.csv', index=False)

# Relatório do PowerBI no Jupyter

In [8]:
# instalando o pacote: powerbiclient

!pip install -q powerbiclient

In [9]:
#funções usadas para autenticar e gerar relatórios

from powerbiclient import QuickVisualize, get_dataset_config, Report
from powerbiclient.authentication import DeviceCodeLoginAuthentication

In [10]:
#define autenticação no PBI Service

device_auth = DeviceCodeLoginAuthentication()

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code BMZJBXY8Q to authenticate.

Device flow authentication successfully completed.
You are now logged in .

The result should be passed only to trusted code in your notebook.

In [11]:
#Criando relatório no PBI

PBI_visualize = QuickVisualize(get_dataset_config(df_clientes), auth=device_auth)

In [13]:
#Renderizando relatório de PBI:
PBI_visualize

QuickVisualize()